<!DOCTYPE html />

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Search results - Http Fundamentals</title>
    </head>
    <body>
        <div>
            you are searching for ...@Request.QueryString["q"]
        </div>
    </body>
</html>